
<div id="email-login" class="hide">
<%= form_tag sessions_path, :class => "form-horizontal" do |f| %>

  <div class="control-group">
    <div id="email_field">
      <%= text_field_tag :email, "", :class => "login-field span12", :id=> "login-name", :placeholder => 'Your Email Address'  %>
      <label class="login-field-icon fui-man-16" for="login-name"></label>
    </div>
  </div>
  <div class="control-group">
    <%= password_field_tag :password, "", :class => "login-field span12", :id=> "login-pass", :placeholder => 'Password' %>
    <label class="login-field-icon fui-lock-16" for="login-pass"></label>
  </div>

  <div class="button-login">
    <button type="submit" class="btn btn-primary">
      <i class="icon-off icon-white"></i>
      Login
    </button>
  </div>
  <br>
  <a href="/auth/facebook">Sign in with Facebook</a>

  <div class="clearfix"></div>

<% end %>
</div>
