<div id="sign-in-ajax">
  <h3>sign in with: </h3>
  <div class="btn-group">
    <a href="" id="login-button"><button class="btn btn-large">email</button></a>
    <a href="/auth/facebook"><button class="btn btn-large">facebook</button></a>
  </div>
</div>
