<div class="row">	
<div class="span12 center">	
	<br>
	<div class="span2 offset3">
	<h2>1. <br>Sign up for a Hackathon</h2>
	</div>
	<div class="span2">
	<h2>2.<br> Look for complementary skillsets</h2>
	</div>
	<div class="span2">
	<h2>3. <br>Code with awesome people!</h2>
	</div></div>
</div>