<div id="landing" class="row-fluid">
  <div id="cover_content" class="login-box" class="span4">
    <div id="login">
      <h2>Good code.<br>Better company.</h2>

      <hr> 
      
      <%= render :partial => "login_button" %>
      <%= render :partial => "email_login" %>

    </div>

  </div>

  <div class="hackathon_landing">
    <%= render :partial => "/hackathons/hackathons_index", :locals => {:hackathons => @hackathons} %>
  </div>

</div>