<div id="landing" class="row-fluid">
  <div id="cover_content" class="login-box" class="span4">
    <div id="login">
      <h2>Good code.<br>Better company.</h2>

      <hr> 

      <h3>Sign in with: </h3>

      <%#= render :partial => "email_login" %>
      <div class="btn-group">
        <a href=""><button class="btn btn-large">Email</button></a>
        <a href=""><button class="btn btn-large">Github</button></a>
      </div>

    </div>
    <!-- <div id="about" class="span7"> -->
      <%#= render :partial => "/layouts/about" %>
    <!-- </div> -->

  </div>

  <div class="hackathon_landing">
    <%= render :partial => "/hackathons/hackathons_index", :locals => {:hackathons => @hackathons} %>
  </div>

</div>