
#new_hackathon_container {
/*  background-image: url('tag-cloud-hackathon.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;*/
}

#new_hackathon_nav {
  list-style: none;
  margin: 0 auto;

  li {
    display: inline;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 1em;
    border: solid;
  }
}

.dummy-content {
	border: 1px solid #000;
	padding: 10px;
	height: 250px;
	overflow: hidden;
}

.header-content {
	border: 1px solid #000;
	padding: 10px;
	height: 250px;
	overflow: hidden;
}

.subheader-content {
	border: 1px solid #000;
	padding: 10px;
	height: 200px;
	h3 {
		padding: 4px;
	}
}

.team-content {
	border: 1px solid #000;
	padding: 10px;
	height: 150px;
	overflow: hidden;
}